@media only screen and (min-width: 481px)
{
  body {
    background-color:#FFF;
    font-family: "Arial Rounded MT Bold";
    margin: 0;
    padding: 0;
  }
#tit{
  background-color: #E6E6E6;
  width: 105%;
  margin-left: -49px;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.info{
  margin-top:-30px;
}

#reserva img{
  width: 90%;
  margin: 0 60px;
}
#regihot{
  width: 30%;
  background-position: center;
  position: absolute;
  margin:-400px 0 0 100px;
}
form{
;
}


}
