@media only screen and (min-width: 481px){

body {
  background-color:#FFF;
  font-family: "Arial Rounded MT Bold";
  margin: 0;
  padding: 0;
}

#brsuperior{
  background-color: #B40404;
  height: 70px;
  margin: 0;
  padding: 0;
  color: white;
}

h1{
  text-align: right;
  margin-right: 60px;

}

h6{
  font-size: 1.5em;
  margin: 10px;
  padding: 0;
}
#logomenu{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
}

#logo{
  width: 20%;
  height: 150px;
  float: left;
  text-align: center;
  margin: 0;
  padding: 0;
}

#logo img{
  width: 70%;
  height: auto;
  margin: 0 auto;
}
nav {
  float:left;
  width: 80%;
  background-color: purple;
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
  font-size: 1.5em;
}

.check{
  display: none;
}
#burguer{
  display: none;
}


#menu{
  margin:40px 70px;
  padding-left: 0;
  height: 110px;
  text-align: left;
  float: left;
}

.plegable{
  float: left;
  margin: 0 60px;
  width: auto;
  list-style-type: none;

}

#menu li:hover > .desplegable{
  display: block;

}
.desplegable{
  background-color: ;
  height: auto;
  margin: 0;
  padding: 0;
  display:none;

}

.desplegable li{
  background-color:  ;
  list-style-type: none;
  width:100%;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0.8em;


}
img {
  position: relative;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
  height:auto ;
  background-image: no-repeat;
}
a{
  text-decoration:none;
}
a:link{
  color: pink;
}
a:visited{
  color: pink;
}
a:hover{

}
a:active{

}




#banner{
  height: 400px;
  background-color: red;
  margin: ;
  padding: 0;
  overflow: hidden;
  clear: left;
}


.animacion{
  position: absolute;
  width: 200%;
  height: 400px;
  display: inline-block;
}

.animacion img {
  position: relative;
  margin: -5px;
  padding: 0;
  width: 25%;
  height:405px ;

    animation-name: animacion;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

.animacion2 {
  position:absolute;
  width: 200%;
  height:400px;
  display: inline-block;
}
  .animacion2 img {
    position: relative;
    margin: -5px;
    padding: 0;
    width: 50%;
    height:405px ;

      animation-name: animacion2;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-direction: normal;
    }

  @keyframes animacion{
    0%{
      top: 0;
      left: 0%;
    }
    25%{
      top:0;
      left: -25%;
    }
    50%{
      top: 0;
      left: -50%;
    }
    75%{
      top:0;
      left: -75%;
    }
    100%{
      top: 0;
      left: -100%;
    }
  }

  @keyframes animacion2{
    0%{
      top: 0;
      left: 100%;
    }
    25%{
      top:0;
      left: 100%;
    }
    50%{
      top: 0;
      left: 100%;
    }
    75%{
      top:0;
      left: 50%;
    }
    100%{
      top: 0;
      left: 0%;
    }
  }

#info{
  background-color: thistle;
  font-size: 22px;
  height: 500px;
  margin-top:-28px;
}

h2{
  font-size: 3em;

  background-color: ;
  text-align: center;
  color: #8A0808;


}

#blocs{
  background-color: ;
  width: 100%;

  padding-bottom: 20px;

}
.float{
height: 100%;
width: 100%;
float: left;
margin-left: 67px;
margin-top: 30px;
}

.container{
  position: relative;
  width: 100%;
  top:-30px;
  left: 3px;

}

.image {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


.overlay {
  position: absolute;
  bottom: 100%;
  left: -70px;
  right: 0;
  background-color: rgba(20,20,20,0.9);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: 1s ease;

}

.image:hover .overlay {
  bottom: 0;
  height: 200px;
}

.text {
  color: white;
  font-size: 12px;
  position: absolute;
  overflow-y: auto;
  text-align:center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.primer{
  width: 32%;
  height: 200px;
  background-color: yellow;
  float: left;
  margin: 0 5px;
  background-image: url(fotos/c.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.segon{
  width: 32%;
  height: 200px;
  background-color: yellow;
  float: left;
  margin:0 5px;

  background-image: url(fotos/IMG_0963.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tercer{
  width: 32%;
  height: 200px;
  background-color: blue;
  float: left;
  margin:0 5px;
  background-image: url(fotos/PHOTO-2019-05-07-19-31-50.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.quart{
  width: 32%;
  height: 200px;
  background-color: blue;
  float: left;
  margin:0 5px;
  background-image: url(fotos/IMG-5570.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin:5px;
}
.cinc{
  width: 32%;
  height: 200px;
  background-color: blue;
  float: left;
  margin:0 5px;
  background-image: url(fotos/PORTADA.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin:5px;
}
.sis{
  width: 32%;
  height: 200px;
  background-color: blue;
  float: left;
  margin:0 5px;
  background-image: url(fotos/LaRambla.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin:5px;
}
.set{
  width: 32%;
  height: 200px;
  background-color: blue;
  float: left;
  margin:0 5px;
  background-image: url(fotos/IMG-5563.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}
.vuit{
  width: 32%;
  height: 200px;
  background-color: blue;
  float: left;
  margin:0 5px;
  background-image: url(fotos/IMG_9509.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.nou{
  width: 32%;
  height: 200px;
  background-color: blue;
  float: left;
  margin:0 5;
  background-image: url(fotos/IMG-5738.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


/*html sobre nosaltres*/

#cajatexto{
width: 60%;
height:300px;
background-color: #E6E6E6;
margin-left: 20%;
margin-top: -50px;
}

#textop p{
font-size: 1.5em;
}
p{
  text-align: center;
  padding: 0;
  margin: 0 0 -21px 20%;
  width: 66%;
  height: 34px;
  font-size: 1.3em;
}
.txt{
  padding: 0;
  margin: 62px 0 48px 25%;
  width: 53%;
  font-size: 1.3em;
}
#fondo{
  background-color: #E6E6E6;
  width: 100%;
  height: 300px;
  top: -60px;

}
h4{
  text-align:center ;
  font-size: 3em;
  top: 40px;

}

#lista{
  margin: 20px;
  padding: 0;
  width: 100%;
  display: inline;
  left: 20px;
  top:-150px;

}
ul img{
  top: 40px;
  width: 400px;
  margin: -150px;
  left: -100px;
  float: right;

}
#like img{
  top: 90px;
  width: 180px;
  margin: -150px;
  left: 25px;
  float: right;
}
#planeta img{
  top: 80px;
  width: 260px;
  margin: -150px;
  left: -18px;
  float: right;
}


#lista li{

}
.todo{
  background-color:;
  width: 100%;
    margin:-60px 0;
  }

/*html contactos */

#registre{

background-color: #E6E6E6;
width: 50%;
float: left;
background-position: center;
top: 10px;
margin: 5px 0;

}
#registre h5{
  margin-left: 50px;


}
#inform li{
font-size:1em;
line-height: 150%;
margin: 0;
padding: 0;
text-align: center;
}

.direccion{
  background-color: #E6E6E6;
  width: 50%;
  float: left;
  margin: 5px 0;
  height: 280px;
}
input{
  width: 80%;
  height: 35px;
  margin: 10px;
  left: 100px

}
.direccion p{
  margin-left: 50px;
}
.check{
  opacity:0;
  width: 100px;
  display: none;
}



.ultimo{
  background-color: #424242;
  width: 100%;
  height: 10%;
  margin-top: 600px;
}

#copyright li{
  display: inline-block;
  margin: 20px 30px;
  font-size: 0.9em;
  color: white;

}

#oferta{
  width:50%;
  height: 300px;
  background-color: #8A0808;
 margin: 30px auto;
}

#oferta h4{
  color: white;
  font-size: 2.5em;
  padding-top: 30px;
}
#oferta2{
  background-color: white;
  width: 40%;
  height: 40px;
  margin: -40px auto;
}
#oferta2 h4{
  color: #8A0808;
  font-size: 2em;
  padding-top: 0;
}
#oferta h1{
  font-family: Avenir Next Condensed ;
  float: left;
  margin: 70px 100px;
  color: white;
  font-size: 2.5em;
}
#oferta h3{
  font-family: Avenir Next Condensed ;
  float: left;
  margin: 70px -55px;
  color: white;
  font-size: 6.5em;
}
.restaurants{
  background-color: ;
  width: 100%;
  height: 400px;
  margin-top: 150px;
}
#fotoinfo{
  margin:0;

}
#fotoinfo h4{
  margin: 30px;
  padding: 0;
  font-size: 3em;
}
#smsnos{
  width: 81%;
  margin: -13px 0 15px 137px;
  padding: 0;
  font-size: 2em;
}
.trio img{
  position: relative;
  margin: 26px 0px 58px 38%;
  padding: 0;
  width: 24%;
  height: auto;
}
.tlogo {
  background-color: ;
  margin: 0 0 0 22%;
  width: 58%;
}
#lista{
  margin: 20px;
  padding: 0;
  width: 100%;
  display: inline;
  left: 20px;
  top:-150px;

}
#tex{
  font-size: 1.5em;
  margin: 0 0 0 -212px;
  position: relative;
}
#ruta p{
  text-align: center;
  font-size: 1.5em;
  margin: 0px;
  padding: 0;
  width: 300px;

}

.texto {
font-size: 1.5em;
width: 25%;
margin: 0 0;

}
.info img{
  width: 30%;
  margin: 24px -4px 0px 131px;
  float: left;
}
.rambla{
  margin: 0 0 0 0px;
}
.rambla img{
  width: 30%;
  margin: 24px 0px 0px -17px;
  float: left;
}
.rambla p{
  margin: 18px 0 0px 513px;
  font-size: 1.5em;
  width: 563px;
  top: 31%;
  position: absolute;
}
#ruta p{
  margin: 0 0px 27px 50px;;
}
.info{
  margin-top:-30px;
}
#rtsagrada {
  margin: 60px 0px -10px -13%;
  font-size: 1.5em;
}
.sagrada{
  width: 30%;
  margin: -59px 0px 0 -17px;
  float: left;
}
.sagrada img {
  width: 100%;
  margin: 0px 0px 0  -8px;
}
#total {
  left: 73px;
  position: relative;
}
#reserva img{
  width: 100%;
  margin: 0 0px;
}
#regihot{
  width: 30%;
  background-position: center;
  top: 870px;
  position: absolute;
  margin: 0 0 0 135px;
}
input{
  width: 80%;
  height: 35px;
  margin: 10px;
  left: 100px
}
#regihot h5{
  margin:0 0px 3px 10px;
  font-size: 1em;
}

}
