
@media only screen and (max-width: 480px)
{
  body{
    margin: 0;
    padding: 0;
    font-family: "Arial Rounded MT Bold";
  }

  #brsuperior{
    background-color: #B40404;
    height: 70px;
    margin: 0;
    padding: 0;
    width: auto;
  }

  h1{
    font-size: 0.9em;
    margin: 25px 10px;
    float: right;

  }

  #logo{
    width: 30%;
    height: 70px;
    float: left;
    text-align: center;
  }

  #logo img{
    width: 70%;
    height: auto;
    margin: 0 auto;
  }

  #banner{
    background-color: red;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: left;

  }
  #banner img{
    width: 100%;
  }
  .animacion{
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
  }

  .animacion img {
    position: relative;
    margin: -5px;
    padding: 0;
    width: 100%;
    height:auto ;
  }
  .animacion2 {
    position:absolute;
    width: 100%;
    height:100%;
    display: inline-block;
  }
    .animacion2 img {
      position: relative;
      margin: -5px;
      padding: 0;
      width: 100%;
      height:auto ;

      }

  .primer{
    width: 100%;
    height: 200px;
    background-color: yellow;
    margin: 0px;
    background-image: url(fotos/c.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .segon{
    width: 100%;
    height: 200px;
    background-color: yellow;
    margin:0px;

    background-image: url(fotos/IMG_0963.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .tercer{
    width: 100%;
    height: 200px;
    background-color: blue;
    margin:0;
    background-image: url(fotos/PHOTO-2019-05-07-19-31-50.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .quart{
    width: 100%;
    height: 200px;
    background-color: blue;
    margin-top: -5px;
    background-image: url(fotos/IMG-5570.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .cinc{
    width: 100%;
    height: 200px;
    background-color: blue;
    margin:-5px;
    background-image: url(fotos/PORTADA.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  .sis{
    width: 100%;
    height: 200px;
    background-color: blue;
    margin:0px;
    background-image: url(fotos/LaRambla.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
  .set{
    width: 100%;
    height: 200px;
    background-color: blue;
    margin:0px;
    background-image: url(fotos/IMG-5563.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .vuit{
    width: 100%;
    height: 200px;
    background-color: blue;
    margin:0px;
    background-image: url(fotos/IMG_9509.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .nou{
    width: 100%;
    height: 200px;
    background-color: blue;
    margin:0px;
    background-image: url(fotos/IMG-5738.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

.float{
height: 100%;
width: 100%;
float: left;
margin-left: 67px;
margin-top: 10px;
}

.container{
  position: relative;
  top: 0;
  width: 100%;
  top:-30px;
  left: 3px;
}
#blocs{
  background-color: ;
  width: 100%;
  margin-top: 1100px;

  padding-bottom: 0px;
}
.image{
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 5px;
  bottom: 100%;
  left: -70px;
  right: 0;
  background-color: rgba(20,20,20,0.9);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: 1s ease;

}

.image:hover .overlay {
  bottom: 0;
  height: 200px;
}
#tex{
font-size: 1.5em;
margin: 111px 0 0px 0px;
}
.text {
  color: white;
  font-size: 12px;
  position: absolute;
  overflow-y: auto;
  text-align:center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.hover:hover{
	color: red;
}

.menu2{
background-color: magenta;
position: relative;
width: 600px;
display:grid;
}
.menu2 li{
  background-color: orange;
  display: inline-block;
  position: relative;
  width: 200px;
}

.menu2 li:hover > .secundari{
  display: inline-block;
}
#cajatexto{
width: 60%;
height:300px;
background-color: #E6E6E6;
position: relative;
left: 20%;
}

p{
  text-align: center;
  font-size: 2em;
  position: relative;
}
#fondo{
  background-color: #E6E6E6;
  width: 100%;
  height: 300px;
  position: relative;
  top: -60px;
}

h4{
  text-align:center ;
  font-size: 3em;
  top: 40px;
}

#lista{
  margin: 20px;
  padding: 0;
  width: 100%;
  display: inline;
  left: 20px;
  position: relative;
  top:-150px;
}

ul img{
  top: 40px;
  width: 400px;
  margin: -50px;
}

#imgblog{
  background-color: red;
  top: px;
  position: relative;
}
#lista li{
  position: relative;
}

.direccion{
  background-color: #E6E6E6;
  width: 50%;
  padding-top: 30px;
  float: left;
  line-height: 30%;
  height: 300px;

}

h5{
  font-size: 1em;
  position: relative;
  text-align: center;
}

#registre{
background-color: #E6E6E6;
width: 50%;
height: 329px;
float: left;
background-position: center;
top: px;

}

form{
  background-color: ;
  background-position: center;
  margin-left: 20%;
}
#inform{
  height: 50px;
  width: 50%;
}

  #inform li{
    font-size: 0.8em;
    line-height: 119%;
    margin-top: 4px;
    padding: 0;
    text-align: center;
}
#nav{

}
.check{
  position: absolute;
  width: 50px;
  height:50px;
  margin: 10px;
  top: 10px;
  left: 10px;
  z-index: 1;
  opacity: 0;
}

.check:checked ~ #menu{
  position: fixed;
  left: 0;
  transition: 1s;
}

#burguer{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 10px;
  left: 10px;
}

#burguer li{
  width: 40px;
  height: 5px;
  background-color: #FFF;
  margin: 10px 0;
}

li{
  list-style-type: none;
  margin:0;
  padding: 0;
  margin-left: 10px;
}


#menu{
  background: pink;
  width: 70%;
  height: 150px;
  left: -100%;
  position: absolute;
  top: 60px;
  padding-left: 0px;
  z-index: 1;

}
a{
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}
a:link{
  color: #FFF;
}
a:visited{
  color: #FFF;
}
a:hover{
  color: #FFF;
}
a:active{
  color: #FFF;
}
.ultimo{
  width: 100%;
  height: 5%;
  margin-top: px;
}
#copyright{
  background-color: #424242;
  display: inline-block;
  margin: 0px;
  font-size: 0.2em;
  color: white;
  margin-top: 120px;

}

#copyright li{
  display: inline-block;
  margin: 5px 10px;
  font-size: 0.2em;
  color: white;
}
#oferta{
  width:90%;
  height: 250px;
  background-color: #8A0808;
 margin: 30px auto;
}

#oferta h4{
  color: white;
  font-size: 2.5em;
  padding-top: 30px;
}
#oferta2{
  background-color: white;
  width: 40%;
  height: 30px;
  margin: -40px auto;
}
#oferta2 h4{
  color: #8A0808;
  font-size: 1em;
  padding-top: 0;

}
#oferta h1{
  font-family: Avenir Next Condensed ;
  float: left;
  margin-left: 15px;
  color: white;
  font-size: 1.5em;
  padding-top: 60px;
}
#oferta h3{
  font-family: Avenir Next Condensed ;
  float: left;
  margin:-100px 120px;
  color: white;
  font-size: 6.5em;
}
.restaurants{
  background-color: ;
  width: 100%;
  height: 50%;
  margin-top:x0px;
}
.restaurants h2{
  font-size: 2.5em;
  text-align: center;
  color: white;
}
.direccion p{
  font-size: 1.2em;
}
#ruta p{
  text-align: center;
  margin: 0px;
  padding: 0;
  width: 300px;
}
#tit{
  background-color: #E6E6E6;
  width: 100%;
  font-size: 2em;
}
.info img{
  width: 100%;
  margin: -9px 0 0 -3px;
  float: left;
}
.rambla img{
  width: 100%;
  margin: 0 30px 20px;
  float:left;
}
.rambla p{
margin: 0 0 0 -66px;
font-size: 1.5em;
}
#ruta p{

}
.info{
  margin-top:-30px;
}
.sagrada img{
  width: 330%;
  margin: 0 15px 7px 0;
  float: left;
}
#total{
  margin:0 0 0 50px;
}

#regihot{
  width: 88%;
  background-position: center;
  margin: -30% 0px 0px -35px;
}
#regihot h5{
margin: 21px 128px 0 0;
}
#fotoinfo img{
  margin:0;
  width: 100%;
  height: auto;

}
#fotoinfo{
  margin:0;

}
#fotoinfo h4{
  margin: 30px;
  padding: 0;
  font-size: 3em;
}
#smsnos{
  font-size: 2em;
  width: 96%;
  margin: 7px 0px 0 8px;
  text-align: center;
  background-color: #E6E6E6;
}
.trio{
 width: 100%;
 height: 150px;
 background-color: ;
 margin: 15 auto;
}

#lista{
  margin: 20px;
  padding: 0;
  width: 100%;
  display: inline;
  left: 20px;
  top:-150px;

}
.tlogo{
  font-size: 2em;
  width: 96%;
  margin: 19px 0px 0 -17px;
  text-align: center;
  background-color: #E6E6E6;
}
.txt{
  font-size: 2em;
  width: 96%;
  margin: 19px 0px 0 -17px;
  text-align: center;
  background-color: #E6E6E6;
}
.txtlogo {
  font-size: 2em;
  width: 96%;
  margin: 78px 0px 0 -17px;
  text-align: center;
  background-color: #E6E6E6;
}
#ruta p{
  text-align: center;
  font-size: 1.5em;
  margin: 0px;
  padding: 0;
  width: 300px;

}
#tit{
  background-color: #E6E6E6;
  width: 105%;
  margin-left: -49px;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}
.texto {
font-size: 1.5em;
width: 25%;
margin: 0 0;

}
}
.rambla{
  margin: 0 0 0 20px;
}
.rambla img{
  width: 100%;
  margin: -8px 0px 0px -16px;
  float: left;
}
.rambla p{
  margin: 0px 0 1px 0px;
  font-size: 1.5em;
  width: 100px;
}
#ruta p{
  margin: 0 0px 27px 50px;;
}
.info{
  margin-top:-30px;
}
#rtsagrada {
  margin: 51px 0px 0px 22px;
  font-size: 1.5em;
}
.sagrada{
  width: 30%;
  margin: -59px 0px 0 0;
  float: left;
}
#total{
  margin:0 0 0 50px;
}
#reserva img{
  width: 90%;
  margin: 0 15px;
}
input{
  width: 70%;
  height: 18px;
  margin: 2px;
}
#regihot h5{
  margin:0 0px 3px 10px;
  font-size: 1em;
}

}
