body{
  background-color: pink;

  }
  li{
    display: inline;
  }
ul{
  text-align: right;
}
p{
  color: red;
}
#miki{
  float: left;

}
.ex1{
  display: none;
}
.ex2{
  display: inline;
  height: 70px;
border: solid 5px black;
}


.ex3{
  display: block;
}
.ex4{
  display: inline-block;
  border: solid 5px black;
  height: 300px;
}
#miki{
  float: left;
}
h1{
  padding-left: 550px;
}
h2{
  padding-left: 550px;
}
div{
  padding: 550px;
}
#boto{
  display: block;
  background-color: white;
  height: 100px;
  width: 100px;
  font-size: 14px;
  text-align: center;
  border-radius: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
