body{
  margin: 0;
  padding: 0;
}

div{
  overflow: visible;
  position: relative;
}
.esquerra{
   float: left;
   clear: left;
}
.dreta{
  float: right;
  clear: right;
}
.moño{
  height: 150px;
  width: 190px;
  background-color: black;
  margin: 0px auto;
  border-radius: 100px 100px 0 0;;



}

.cap{
  width: 500px;
  height: 800px;
  background-color: gold;
  margin: 0px auto;
  border-radius: 100px 100px 200px 200px;

}
.pel{
  height: 200px;
  background-color: black;
  border-radius: 100px 100px 0 0;


}

}.ulls{
  height: 180px;
  background-color: ;

}


.irisos{
  background-color: ;
  height: 50px;
  margin-top: -100px;
}
.iris{
  width: 30px;
  height: 30px;
  background-color: black;
  margin: 0 110px;
  margin-top: -170px;
  border-radius: 100%;
  z-index: 40;
}



.celles{
  height: 20px;
  background-color: ;
  margin-bottom: 35px;
  margin-top: 40px;
}

.cella{
  width: 200px;
  height: 20px;
  background-color: brown;
  margin: 0 25px;
  border-radius: 150px;
}


.parpelles{
  height: 80px;
  background-color: ;
  margin: 0;
}
.parpella{
  width: 50px;
  height: 50px;
  background-color: green;
  margin: 0 100px;
  border-radius: 100%;
  z-index: 20;
  box-shadow: #00cc00 1px 2px 5px 5px;



}

.nas{
  width: 100px;
  height: 40px;
  background-color: green;
  margin:  20px auto;
  border-radius: 0 0  50px 50px;

}
.boca{

  background-color: red;
  width: 180px;
  height: 50px;
  border-radius:0 0 50px 50px;
  margin: 150px auto;
   transform: rotate(0deg);

}
.foratnas{
  width: 5px;
  height: 7px;
  background-color: black;
  margin-top: -60px;
}

.iris{


}
.orella{
  width: 50px;
  height: 130px;
  background-color: pink;
  margin: -50px -50px;
  border-radius: 0 40px 40px 0;
}

.gir {
     transform: rotate(-180deg);
}
.pestanyes{
  height: 100px;
  background-color: ;
  margin: 0 75px;

}
.pestanya{
  height: 80px;
  width: 80px;
  background-color: white;
  margin: 0 10px;
  top: 200px;
  border-top: solid #D35400 10px;
  border-bottom: solid #D35400 10px;
  top: -100px;
  border-radius: 100%;



}
.pest_esq{
v
}
}
