@media only screen and (min-width: 481px)
{
.texto{
  text-align: left;
  font-size: 1.5em;
  margin-left: 20px;
}
#ruta p{
  text-align: center;
  font-size: 1.5em;
  margin: 0px;
  padding: 0;
  width: 300px;

}
#tit{
  background-color: #E6E6E6;
  width: 100%;
  margin-left: -10px;
  font-size: 2em;
  margin-bottom: 20px;
}
.info img{
  width: 30%;
  margin: 28px 0 0 0;
  float:left;
}
.rambla img{
  width: 30%;
  margin: 0 30px 20px;
  float:left;
}
.rambla p{
  margin-right:700px;
  font-size: 1.5em;
}
#ruta p{
  margin: 0 0px 27px 50px;;
}
.info{
  margin-top:-30px;
}
#rtsagrada p{
margin-right: -60px;
margin-top: 18px;
}
.sagrada{
  width: 30%;
  margin: -30px 50px 0 0 ;
  float: left;
}
#total{
  margin:0 0 0 50px;
}
#reserva img{
  width: 90%;
  margin: 0 60px;
}
#regihot{
  width: 30%;
  background-position: center;
  top: 800px;
  position: absolute;
  margin: 0 0 0 100px;
}
#regihot h5{
  margin:0 0px 3px 10px;
  font-size: 1em;
}
}
/*html restaurants*/
